*.iml
*.py
*.ipynb
*.json
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
local.properties
.vscode
AnimercoProvider/src/main/kotlin/com/d3vcode0/backup.kt
